{% extends 'logistic/base.html' %}
{% block content %}

        <title>Logistics company | About us</title>

                <h1>About <span>Goods Importing</span></h1>
                <h3>Your Trust, Our Business.</h3>
                <hr>
        <p class="paddingB">We are a Goods Delivery Company for small businesses, we get the orders from our customers and store their parcels in our warehouses for 45 days for free, then they will have to pay for each week of storage.
        <br>We commit to store their parcels in safe places, and deliver your shipments from the international store to your local storage.
        <br>We are going to provide any required quantity without any limits, as much as they ask for.
        <br>Also, we are giving our customers a warranty for every parcel they order from anywhere in the world.</p>
{% endblock %}