{% extends 'logistic/base.html' %}
{% block content %}

        <title>Logistics company | our story</title>


                        <h1>Our <span>Story</span></h1>
                        <h3>Your Trust, Our Business.</h3>
                        <hr>
                        <p class="paddingB">“Connecting people with goods, services and ideas creates opportunities and improves lives. At FedEx, we believe that a connected world is a better world, and that belief guides everything we do.” - FedEx<br>
We believe in linking your local store to the world, we are giving you a special address which is going to be in our warehouse to store your parcels.
<br>Unfortunately, we only ship inside the Kingdom of Saudi Arabia, because it is only for small businesses. </p>
{% endblock %}