{% extends 'logistic/base.html' %}
{% block content %}

        <title>Logistics company | Support</title>

        <h1>Customer <span>Support</span></h1>
        <h3>Your Trust, Our Business.</h3>
        <hr>
                <form action="{% url 'support_success' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="name">Name</label>
                          <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="Your name" class="form-control" required>
                          </div>
                        </div>
            
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="email">Your E-mail</label>
                          <div class="col-md-9">
                            <input id="email" name="email" type="text" placeholder="Your email" class="form-control" required>
                          </div>
                        </div>
                
                        <!-- Message body -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="message">Your message</label>
                          <div class="col-md-9">
                            <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5" required></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                                <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-light">SEND</button>
                                </div>
                              </div> 
                              </form>
        {% endblock %}